<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mui-textfield">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="mui-textfield">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="mui-select">
    <%= f.label :status %>
    <%= f.select :status, Task.statuses.keys.to_a %>
  </div>

  <div class="mui-textfield">
    <%= f.label :start_at %>
    <%= f.text_field :start_at, class: 'calendar' %>
  </div>

  <div class="mui-textfield">
    <%= f.label :closing_at %>
    <%= f.text_field :closing_at, class: 'calendar' %>
  </div>

  <%= f.submit id: 'post-new-task', class: 'mui-btn mui-btn--flat' %>
<% end %>
